* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  margin-top: 0%;
}

@-webkit-keyframes animacion {
  60% {
    background-color: #5885c4;
  }
  20% {
    background-color: #1074b3;
  }
  20% {
    background-color: #5b6266;
  }
}

@keyframes animacion {
  60% {
    background-color: #5885c4;
  }
  20% {
    background-color: #1074b3;
  }
  20% {
    background-color: #5b6266;
  }
}
.navbar .imagen-logo {
  width: 2cm;
  border-radius: 4rem;
}

.info, .info-titulo, .servicio-oficial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1cm;
  width: 70%;
  text-align: center;
}
.info .img-fluid, .info-titulo .img-fluid, .servicio-oficial .img-fluid, .info-titulo img, .servicio-oficial img {
  width: 40cm;
  margin-top: 1cm;
  margin-bottom: 3cm;
  margin-left: 5cm;
}
.info .titulo, .info-titulo .titulo, .servicio-oficial .titulo, .servicio-oficial h1 {
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.9cm;
  text-align: center;
  flex: 1;
  border: 0.2cm #fff solid;
  margin-left: 5cm;
  margin-top: 4cm;
}
.info .parrafo, .info-titulo .parrafo, .servicio-oficial .parrafo, .servicio-oficial p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.7cm;
  text-align: center;
  margin-top: 0.6cm;
  margin-left: 9cm;
}

.info-titulo, .servicio-oficial {
  margin-top: 3cm;
  margin-right: 3cm;
}
.info-titulo .servicio, .servicio-oficial .servicio {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.9cm;
  text-align: center;
  flex: 1;
  border: 0.2cm #fff solid;
  margin-left: 3cm;
  margin-top: 3cm;
  margin-right: 2cm;
}
.info-titulo .somos, .servicio-oficial .somos {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.5cm;
  flex: 1;
  text-align: center;
  margin-top: 0.9cm;
  margin-left: 2cm;
  margin-right: 2cm;
  width: 25cm;
  height: 4cm;
}
.info-titulo img, .servicio-oficial img {
  width: 60%;
  height: 200px;
  margin-left: 7cm;
  margin-right: 0cm;
}

.servicio-oficial p {
  font-size: 0.5cm;
}

.card {
  margin-bottom: 5cm;
  border: 0cm;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  margin-top: 0%;
}

@keyframes animacion {
  60% {
    background-color: #5885c4;
  }
  20% {
    background-color: #1074b3;
  }
  20% {
    background-color: #5b6266;
  }
}
.btn-facebook {
  color: #ffffff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background-color: #0c416d;
  font-size: 30px;
  margin-top: 3cm;
}

.btn-instagram {
  color: #ffffff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background-color: #d425c6;
  font-size: 30px;
  margin-top: 3cm;
}

.btn-whatsapp {
  color: #ffffff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  background-color: #23e754;
  font-size: 30px;
  margin-top: 3cm;
}/*# sourceMappingURL=estilos.css.map */