@each $red, $color in $redes {
    .btn-#{$red} {
      color: #ffffff;
      border: 0;
      padding: 5px;
      border-radius: 05px;
      text-align: center;
      justify-content: center;
      background-color: $color;
      font-size: 30px;
      
      
    }
  }