$azulocuro: rgb(9, 9, 87, 0.786);
$azulclaro: #1c23e8;
$azul:#0c1b54;
$blanco: #fff;
$letra1:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$redes: (
    facebook:#0c416d,
    instagram: #d425c6,
    whatsapp: #23e754
);


@mixin ancho ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
$estilos: (
    color #1c23e8,
    posicion: center,
    tfuente: 1rem,
)

    
