$azulocuro: rgb(9, 9, 87, 0.786);
$azulclaro: #1c23e8;
$azul:#0c1b54;
$blanco: #fff;
$letra1:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$redes: (
    instagram: rgb(195, 75, 153),
    facebook: rgb(7, 68, 118),
    whatsapp: rgb(38, 216, 100),


)